h1 {
    text-align: center;
    padding-bottom: 3em;
}

h2 {
    text-align: center;
}

form {
    font-size: 1.3em;
    text-align: center;
}

.edit-task-title, .list-tasks-title {
    padding-top: 3em;
}

.tasks-list-box {
    margin-left: auto;
    margin-right: auto;
    display: table;
}
